# Ignore all data files

*.log
*.tmp
*.csv
*.sav
*.nc
*.shp
*.json
*.zip
*.geojson
*.parquet
*.pdf
*.dbf


climate-projection-module/main
zonal-statistics-module/main
dengue-infection-module/main
dengue-infection-module/report
machine-learning-module/main


# Snakemake
.snakemake/
**/.snakemake/
climate-projection-module/workflow/.snakemake/
dengue-infection-module/workflow/.snakemake/
zonal-statistics-module/workflow/.snakemake/
machine-learning-module/workflow/.snakemake/


# Conda / environments
conda/
.env/
venv/

/.quarto/
**/*.quarto_ipynb
